/Calculadora/Include
/Calculadora/Lib
/Calculadora/Scripts
/Calculadora/pyvenv.cfg
/Cadastro e Login/Include
/Cadastro e Login/Lib
/Cadastro e Login/Scripts
/Cadastro e Login/pyvenv.cfg
/Cadastro e Login/__pycache__
